<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An unexpected error occurred. Please try again later.</h1>
    <p>We are working to resolve the issue as soon as possible.</p>

<%- include('includes/end.ejs') %>